<p-panel header="Filtros de Búsqueda" class="ui-g-12 ui-md-12">
    <div class="ui-g ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-g-2">
            <label for="cBrigada">Brigada</label>
        </div>
        <div class="ui-g-2">
            <p-dropdown optionLabel="nombre_brigada" [options]="listaBrigadasUsuario" [(ngModel)]="brigadaSeleccionada"
                (onChange)="cargarColaboradoresBrigada(this.brigadaSeleccionada.id_brigada,fDesde,fHasta)"></p-dropdown>
        </div>
        <div class="ui-g-4">
            <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fDesde" [showIcon]="true"
                placeholder="Desde" (onSelect)="cargarColaboradoresBrigada(this.brigadaSeleccionada.id_brigada,fDesde, fHasta)" (onClearClick)="cargarColaboradoresBrigada(this.brigadaSeleccionada.id_brigada,fDesde, fHasta)"></p-calendar>
        </div>
        <div class="ui-g-4">
            <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fHasta" [showIcon]="true"
                placeholder="Hasta" (onSelect)="cargarColaboradoresBrigada(this.brigadaSeleccionada.id_brigada, fDesde, fHasta)" (onClearClick)="cargarColaboradoresBrigada(this.brigadaSeleccionada.id_brigada,fDesde, fHasta)"></p-calendar>
        </div>
    </div>
</p-panel>
<p-panel header="Tarja de horas extras mensual de Brigadas" class="ui-g-12 ui-md-12">
    <p-table [columns]="columnasTablasHorasExtrasFinal" [value]="colaboraresBrigadaHoras" [frozenColumns]="columnasEstaticas" 
    [scrollable]="true" frozenWidth="400px" responsive="true">
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="EXCEL" (click)="exportToExcel()" style="float:left"></button>
        </div>
    </ng-template> 
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:300px">
        </colgroup>
    </ng-template>       
    <ng-template pTemplate="header" let-columns>
            <tr> 
                <th  *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                    <div>
                        {{col.header}}
                    </div>
                </th>
            </tr>
            <!-- <tr>
        <th rowspan="3">Brand</th>
        <th colspan="4">Sale Rate</th>
    </tr>
    <tr>
        <th colspan="2">Sales</th>
        <th colspan="2">Profits</th>
    </tr>
    <tr>
        <th>Last Year</th>
        <th>This Year</th>
        <th>Last Year</th>
        <th>This Year</th>
    </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width}">
                    <div *ngSwitchCase="'cargosss'">
                        {{ rowData['cargo'].valor }}
                    </div>
                    <div *ngSwitchDefault>
                        {{ rowData[col.field]}}
                    </div>

                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="footer">
          <tr>
              <td colspan="3">Totals</td>
              <td>$506,202</td>
              <td>$531,020</td>
          </tr>
      </ng-template> -->
    </p-table>
</p-panel>