<p-panel header="Filtros de Búsqueda" class="ui-g-12 ui-md-12">
    <div class="ui-g ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-g-2">
            <label for="cBrigada">Brigada</label>
        </div>
        <div class="ui-g-2">
            <p-dropdown optionLabel="nombre_brigada" [options]="listaBrigadasUsuario" [(ngModel)]="brigadaSeleccionada" (onChange)="cargarActividadesPorBrigada()"></p-dropdown>
        </div>
        <div class="ui-g-4">
            <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fDesde" [showIcon]="true" placeholder="Desde" (onSelect)="cargarActividadesPorBrigada()" (onClearClick)="cargarActividadesPorBrigada()"></p-calendar>
        </div>
        <div class="ui-g-4">
            <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fHasta" [showIcon]="true" placeholder="Hasta" (onSelect)="cargarActividadesPorBrigada()" (onClearClick)="cargarActividadesPorBrigada()"></p-calendar>
        </div>     
    </div>
</p-panel>
<p-panel header="Horas Extras por Brigada" class="ui-g-12 ui-md-12">
    <p-table [columns]="columnasTablaHorasExtras" [value]="actividadesPorBrigada">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="PDF" (click)="exportToPDF()" style="float:left"></button>
                <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="EXCEL" (click)="exportToEXCEL()" style="float:left; margin-left: 10px;"></button>
            </div>            
        </ng-template>        
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <!-- <tr>
          <th rowspan="3">Brand</th>
          <th colspan="4">Sale Rate</th>
      </tr>
      <tr>
          <th colspan="2">Sales</th>
          <th colspan="2">Profits</th>
      </tr>
      <tr>
          <th>Last Year</th>
          <th>This Year</th>
          <th>Last Year</th>
          <th>This Year</th>
      </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                    <div *ngSwitchCase="'lugar_destino_cat'">
                        {{ rowData['lugar_destino_cat'] == null ? null :  rowData['lugar_destino_cat'].valor }}
                    </div>
                    <div *ngSwitchCase="'fecha_regreso'">
                        {{ rowData[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                    </div>
                    <div *ngSwitchCase="'fecha_salida'">
                        {{ rowData[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                    </div>
                    <div *ngSwitchCase="'fecha_arribo_base'">
                        {{ rowData[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                    </div>
                    <!-- Estos datos son para que se muestre correctamente sin tantos decimales -->
                    <div *ngSwitchCase="'horas_extras_sr'">
                        {{ rowData[col.field] | number }}
                    </div>
                    <div *ngSwitchCase="'horas_extras_cr'">
                        {{ rowData[col.field] | number }}
                    </div>
                    <div *ngSwitchCase="'t_horas_extras_sr'">
                        {{ rowData[col.field] | number }}
                    </div>
                    <div *ngSwitchCase="'t_horas_extras_cr'">
                        {{ rowData[col.field] | number }}
                    </div>                
                    <div *ngSwitchDefault>
                        {{ rowData[col.field]}}
                    </div>
                    
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="footer">
            <tr>
                <td colspan="3">Totals</td>
                <td>$506,202</td>
                <td>$531,020</td>
            </tr>
        </ng-template> -->
    </p-table>
</p-panel>