<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g-12 ui-md-12" style="position: relative;">
    <ngx-loading [show]="loadingTabla"></ngx-loading>
    <p-panel header="Colaboradores" class="ui-g-12 ui-md-12">
        <p-table #dt selectionMode="none" [columns]="columnasTablaColaborador" [value]="colaboradores"
            [(selection)]="colaboradorSeleccionado" [responsive]="true" [paginator]="true" 
            [rows]="10"
            selectionMode="single"
            (onRowSelect)="onRowSelect($event)" >
            <ng-template pTemplate="caption">
                <div style="text-align: center">
                    <input type="text" pInputText size="50" placeholder="Filtro Global"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:90%">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width: 7%;"></th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input pInputText type="text" *ngIf="col.field != 'es_usuario'"
                            (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">
                        <p-checkbox *ngIf="col.field == 'es_usuario'"  boolean="true" (onChange)="dt.filter($event==true ? 1:null, col.field, 'equals')"></p-checkbox>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <div *ngSwitchCase="'cargo'">
                            <div *ngIf="rowData[col.field] != null">
                                {{rowData[col.field].valor}}
                            </div>
                        </div>
                        <div *ngSwitchCase="'es_usuario'">
                            <div>
                                {{rowData[col.field] == 1 ? 'Si' : 'No'}}
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </div>
                    </td>
                    <td style="text-align: center">
                        <button pButton icon="pi pi-pencil" (click)="edit(rowData)" class="ui-button-edit"></button>
                        <button pButton icon="pi pi-times" (click)="delete(rowData)" class="ui-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button pButton icon="fa fa-plus" (click)="nuevaFila()" label="Nuevo"></button>
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<!-- Esta es la sección para asignar roles a los colaboradores que son usuarios -->
<div class="ui-g-12 ui-md-12" style="height: 500px; position: relative">
    <ngx-loading [show]="loadingRoles" ></ngx-loading>
    <p-panel header="Roles de usuario" class="ui-g-12 ui-md-12"
        *ngIf="colaboradorSeleccionado && colaboradorSeleccionado.es_usuario == 1">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12" style="text-align: center">
                <h5>Seleccione el rol para el colaborador:
                    {{ colaboradorSeleccionado.rut }} - {{ colaboradorSeleccionado.nombres}} {{ colaboradorSeleccionado.apellido_paterno}} {{ colaboradorSeleccionado.apellido_materno}}
                </h5>
            </div>
            <p-pickList 
                (onMoveToTarget)="oneToTarget()"
                (onMoveAllToTarget)="allToTarget()"
                [showSourceControls]="false"
                [showTargetControls]="false"
                [source]="roles" 
                [target]="rolesAct" 
                sourceHeader="Disponibles" 
                targetHeader="Actual"
                [responsive]="true" 
                filterBy="nombres" 
                dragdrop="true" 
                sourceFilterPlaceholder="Buscar por nombre"
                targetFilterPlaceholder="Buscar por nombre" 
                [sourceStyle]="{'height':'250px'}"
                [targetStyle]="{'height':'250px'}">
                <ng-template let-roles pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <img style="display:inline-block;margin:2px 0 2px 2px" width="48">
                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{roles.nombre_rol}}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-save"
                    (click)="guardarRolesUsuario(rolesAct, colaboradorSeleccionado)" label="Guardar Roles"></button>
            </div>
        </div>
    </p-panel>
</div>
<!-- Esta sección es el POPUP que aparece cuando se está modificando una fila de la tabla -->
<p-dialog header="Detalles Colaborador" [(visible)]="esVisiblePopUp" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '500px'}">
    <form name="colaboradorForm" (ngSubmit)="cForm.form.valid" #cForm="ngForm" novalidate>
        <div class="ui-g ui-fluid" *ngIf="colaboradorM">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cRUT">RUT</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cRUT" id="cRUT" [(ngModel)]="colaboradorM.rut" #rut="ngModel" required/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cNombres">Nombres</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cNombres" id="cNombres" [(ngModel)]="colaboradorM.nombres" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cApellidoP">Apellido Paterno</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cApellidoP" id="cApellidoP" [(ngModel)]="colaboradorM.apellido_paterno" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cApellidoM">Apellido Materno</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cApellidoM" id="cApellidoM" [(ngModel)]="colaboradorM.apellido_materno" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cCargo">Cargo</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown name="cCargo" id="cCargo" [options]="catalogoCargos" [(ngModel)]="catalogoCargoSelecionado" optionLabel="valor"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cesUsuario">Es usuario</label>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="cesUsuario" id="cesUsuario" [(ngModel)]="colaboradorM.es_usuario" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="colaboradorM.es_usuario">
                <div class="ui-g-4">
                    <label for="cContrasena">Contraseña</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" pInputText name="cContrasena" id="cContrasena" [(ngModel)]="colaboradorM.contrasena" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar" [disabled]="!cForm.form.valid"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>

<!-- Dialogo Para Confirmar la eliminación -->
<p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"></p-confirmDialog>