.nombresAsistencia{
    width: 15%;
}
.diasAsistencia{
    text-align: center;
    padding: 0px !important;
    width: 20px;
}

.ui-datepicker-monthpicker{
    top: 0px !important;
}

.ui-datepicker{
    top: 0px !important;
}

.ui-table-wrapper .ng-star-inserted{
    overflow-x: scroll;
}

table{
    width: 130%;
}