<p-header>
  Seleccione los Colaboradores
</p-header>
<p-table [columns]="columnasTablaColaborador" [value]="colaboradoresPorBrigada"
  [(selection)]="colaboradoresSeleccionados" dataKey="rut">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        <div *ngIf="col.field == 'cargo'">
            {{rowData[col.field].valor}}
        </div>
        <div *ngIf="col.field != 'cargo'">
            {{rowData[col.field]}}
        </div>
        
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <p-button label="Elegir" (onClick)="enviarSeleccion()"></p-button>
    </div>
</ng-template>  
</p-table>