<div class="login-page" [@routerTransition] style="position: relative;">
    <ngx-loading [show]="loadingLogin" ></ngx-loading>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logoserfonac.png" width="60%"  />
            <h1>Sistema de control de Horas</h1>
            <form role="form" #signupForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ngModel #usuario="ngModel" class="form-control input-underline input-lg" id="usuario" name="usuario" placeholder="RUT" required >
                    </div>
                    <div *ngIf="usuario.invalid && formEnviado" class="alert alert-danger">
                        <div *ngIf="usuario.invalid">
                            El rut es obligatorio.
                        </div>
                    </div>
                    <div class="form-group">
                        <input (keydown)="evaluarTecla($event, signupForm)" type="password" ngModel #contrasena="ngModel" class="form-control input-underline input-lg" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                    </div>
                    <div *ngIf="contrasena.invalid && formEnviado" class="alert alert-danger">
                        <div *ngIf="contrasena.invalid">
                            La contraseña es obligatoria.
                        </div>
                    </div>                    
                </div>

                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>  -->
                <a class="btn rounded-btn" (click)="onSubmit(signupForm)">Entrar</a>
                <!--    
                    &nbsp;
                    <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
                -->
            </form>
        </div>
    </div>
</div>