/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "primeicons/primeicons.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}



.only-icon {
 .ui-inputtext{
   width: 99%;
   border: none;
   font-size: 8px !important;
 }
}
 /*
.tabla-asistencia {
  .ui-table-wrapper {
    overflow-x: scroll;
  }
}
*/

.tabla-asistencia {
    .ui-table-wrapper{
    width: 150% !important;
    padding-right: 10px;
  }
}

.panel-tabla-asistencia {
  .ui-panel-content.ui-widget-content {
    min-height: 500px;
    overflow-x: scroll;
  }
}

.ui-dialog-content.ui-widget-content{
  overflow: visible !important;
}

.nombre-brigada {
  width: 200px !important;
}

.cargo-brigada {
  width: 200px;
}
