<div [@routerTransition]>
    <p-panel header="Filtros de búsqueda" class="ui-g-12 ui-md-12">
        <div class="ui-g ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4">
                    <label for="cBrigada">Fecha de consulta:</label>
                </div>
                <div class="ui-g-4">
                    <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fDesde" [showIcon]="true" placeholder="Desde" (onSelect)="actualizarDashboard(this.idUsuarioLogeado, this.fDesde, this.fHasta)"></p-calendar>
                </div>
                <div class="ui-g-4">
                    <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fHasta" [showIcon]="true" placeholder="Hasta" (onSelect)="actualizarDashboard(this.idUsuarioLogeado, this.fDesde, this.fHasta)"></p-calendar>
                </div>            
            </div>        
        </div>
    </p-panel>
    <div class="ui-g-12 ui-md-12" style="position: relative; padding: 0px;">
        <ngx-loading></ngx-loading>
        <p-panel header="Horas Extras por Zona" class="ui-g-12 ui-md-12">
            <p-table #dt selectionMode="none" [columns]="columnasHorasExtrasPorZona" [value]="resultadoHorasExtrasPorZona" [responsive]="true" [paginator]="false" [rows]="10" selectionMode="single">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>    
        
    <!--
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <app-timeline></app-timeline>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <app-notification></app-notification>
            </div>
            <app-chat></app-chat>
        </div>
    </div>
    -->
</div>
