<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g-12 ui-md-12" style="position: relative;">
    <ngx-loading [show]="loadingBrigadas"></ngx-loading>
    <p-panel header="Brigadas" class="ui-g-12 ui-md-12">
        <p-table #dt selectionMode="single" [columns]="columnasTablaBrigada" [value]="brigadas"
            [(selection)]="brigadaSeleccionado" (onRowSelect)="cargarColaboradoresBrigadas()" [responsive]="true"
            [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div style="text-align: center">
                    <input type="text" pInputText size="50" placeholder="Filtro Global"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:90%">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width: 7%;"></th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <div *ngSwitchCase="'jefe_brigada'">
                            <div *ngIf="rowData[col.field] != null">
                                {{rowData[col.field].nombres}} {{rowData[col.field].apellido_paterno}} {{rowData[col.field].apellido_materno}} 
                            </div>
                        </div>                        
                        <div *ngSwitchCase="'tipo_brigada'">
                            <div *ngIf="rowData[col.field] != null">
                                {{rowData[col.field].valor}}
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </div>
                    </td>
                    <td style="text-align: center">
                        <button pButton icon="pi pi-pencil" (click)="edit(rowData)" class="ui-button-edit"></button>
                        <button pButton icon="pi pi-times" (click)="delete(rowData)" class="ui-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button pButton icon="fa fa-plus" (click)="nuevaFila()" label="Nuevo"></button>
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<!-- Esta es la sección de mantenedor de integrantes de Brigada -->
<div class="ui-g-12 ui-md-12" style="height: 500px;" style="position: relative;">
    <ngx-loading [show]="loadingIntegrantes"></ngx-loading>
    <p-panel *ngIf="brigadaSeleccionado != undefined" header="Integrantes de Brigadas" class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12" style="text-align: center">
            <p-pickList [source]="fuenteDeColaboradores" [target]="destinoColaboradores" sourceHeader="Disponibles"
                targetHeader="Actuales" [responsive]="true" filterBy="nombres" dragdrop="true"
                sourceFilterPlaceholder="Buscar por nombre" targetFilterPlaceholder="Buscar por nombre"
                [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                <ng-template let-colaborador pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <img style="display:inline-block;margin:2px 0 2px 2px" width="48">
                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{colaborador.nombres}}
                            {{colaborador.apellido_paterno}} {{colaborador.apellido_materno}}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-save" (click)="guardarBrigada()"
                    label="Guardar Brigada"></button>
            </div>
        </div>
    </p-panel>
</div>

<!-- Esta sección es el POPUP que aparece cuando se está modificando una fila de la tabla -->
<p-dialog header="Detalles Brigada" [(visible)]="esVisiblePopUp" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '40%'}">
    <div class="ui-g ui-fluid" *ngIf="brigada">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="cNombreBrigada">Nombre Brigada</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="cNombreBrigada" [(ngModel)]="brigada.nombre_brigada" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="cJefeBrigada">Jefe Brigada</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown placeholder="Seleccione" name="cJefeBrigada" id="cJefeBrigada" [options]="jefesBrigada"
                    [(ngModel)]="brigada.jefe_brigada" optionLabel="nombres"></p-dropdown>
            </div>            
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="cTipoBrigada">Tipo Brigada</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown placeholder="Seleccione" name="cTipoBrigada" id="cTipoBrigada" [options]="catalogoTipoBrigada"
                    [(ngModel)]="brigada.tipo_brigada" optionLabel="valor"></p-dropdown>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>

<!-- Dialogo Para Confirmar la eliminación -->
<p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"></p-confirmDialog>