<div class="ui-g ui-fluid" style="text-align: center;">

  <div *ngIf="rol.id_rol == 1" class="ui-g-12">
    <label>Fecha</label>
    <p-inputMask mask="99/99/9999 99:99" [(ngModel)]="fechaCalendarioString" placeholder="99/99/9999 99:99" slotChar="DD/MM/YYYY HH:MI"></p-inputMask>
  </div>

  <div *ngIf="rol.id_rol != 1" class="ui-g-12">
    <p-calendar styleClass="only-icon" [readonlyInput]="true" appendTo="body" [(ngModel)]="fechaCalendario" [showTime]="true" [locale]="es" [inline]="true">
    </p-calendar>
  </div>

  <div class="ui-g-12">
    <p-button label="Guardar" (onClick)="enviarSeleccion()"></p-button>
  </div>
</div>