.only-icon {
    .ui-inputtext{
      display: none !important;
    }
    button.ui-datepicker-trigger.ui-calendar-button  {
      border-radius: 4px !important;
    }
   }

.tablaGris {
  background-color: darkgrey !important;
  cursor: not-allowed !important;
}