<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-panel header="Filtros de búsqueda" class="ui-g-12 ui-md-12">
    <div class="ui-g ui-grid ui-grid-responsive ui-fluid">
        <!-- Este espacio es para elegir las brigadas disponibles del usuario logeado -->
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-4">
                <label for="cBrigada">Brigada:</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="listaBrigadasUsuario" [(ngModel)]="brigadaSeleccionada" optionLabel="nombre_brigada" (onChange)="cargarTablaSiniestros()"></p-dropdown>
            </div>
        </div>
        <!-- Este espacio es para elegir las brigadas disponibles del usuario logeado -->
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-4">
                <label for="cBrigada">Fecha de despacho:</label>
            </div>
            <div class="ui-g-4">
                <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fDesde" [showIcon]="true" placeholder="Desde" (onSelect)="cargarTablaSiniestros()" (onClearClick)="cargarTablaSiniestros()"></p-calendar>
            </div>
            <div class="ui-g-4">
                <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [locale]="es" [(ngModel)]="fHasta" [showIcon]="true" placeholder="Hasta" (onSelect)="cargarTablaSiniestros()" (onClearClick)="cargarTablaSiniestros()"></p-calendar>
            </div>            
        </div>        
    </div>
</p-panel>
<div class="ui-g-12 ui-md-12" style="position: relative; padding: 0px;">
    <ngx-loading [show]="loadingActividades" ></ngx-loading>
    <p-panel header="Registro de Actividades" class="ui-g-12 ui-md-12">
        <p-table #dt selectionMode="none" [columns]="columnasTablaSiniestro" [value]="siniestros"
            [(selection)]="siniestroSeleccionado" [responsive]="true" [paginator]="true" [rows]="10"
            selectionMode="single" dataKey="id_siniestro">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="PDF" (click)="exportToPDF()" style="float:left"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <!--
                        <th style="width: 3em"></th>
                    -->
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width: 7%;"></th>
                </tr>
                <!--
                <tr>
                    <th style="width: 3em"></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">         
                        <input *ngIf="col.type === 'brigada'" type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">
                    </th>
                    <th></th>
                </tr>
                -->
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr [pSelectableRow]="rowData" [ngClass]="!puedeEditar(rowData['editable']) ? 'tablaGris' : null">
                    <!--
                        <td>
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                    -->
                    <td *ngFor="let col of columns" pEditableColumn [ngSwitch]="col.field">
                        <ng-container *ngIf="col.type === 'calendar'">                        
                            <textarea readonly="readonly" style="width: 100%; height: 50px; text-align: center; resize: none;" autoResize="autoResize" 
                            pInputTextarea cols="10" rows="4" (click)="puedeEditar(rowData['editable']) ? seleccionarFecha(rowData, col.field) : false">{{ toDate(rowData[col.field]) }}</textarea>
                            <input style="width: 100%; display: none;" type="text" [(ngModel)]="rowData[col.field]" (click)="rowData['editable'] == 1 ? seleccionarFecha(rowData, col.field) : false" pInputText />
                            <!--
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input type="text" [(ngModel)]="rowData[col.field]" (click)="seleccionarFecha(rowData[col.field])" pInputText />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ toDate(rowData[col.field] )}}
                                    </ng-template>
                                </p-cellEditor>
                            -->
                            <!--
                                <p-calendar styleClass="only-icon" [readonlyInput]="true" appendTo="body"
                                [(ngModel)]="rowData[col.field]" [showButtonBar]="true" [showTime]="true" [locale]="es"
                                (onClose)="editarFila(rowData);"></p-calendar>
                            -->
                        </ng-container>
                        <!--
                        Esto se mantiene comentado porque antes teníamos campos Input Editables
                        <ng-container *ngIf="col.type === 'input'">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.field]}}
                                </ng-template>
                            </p-cellEditor>
                        </ng-container>
                        -->
                        <ng-container *ngIf="col.type === 'brigada'">
                            {{rowData['brigada'].nombre_brigada}}
                        </ng-container>
                        <ng-container *ngIf="col.type === 'catalogo' && rowData['lugar_destino_cat'] != null">
                            {{rowData['lugar_destino_cat'].valor}}
                        </ng-container>
                        <ng-container *ngIf="col.type === 'readOnly'">
                            {{rowData[col.field]}}
                        </ng-container>                        
                        <ng-container *ngIf="col.type === 'input' && puedeEditar(rowData['editable'])">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.field]}}
                                </ng-template>
                            </p-cellEditor>
                        </ng-container>    
                        <!--
                        <ng-container *ngIf="col.type === 'input' && rowData['editable'] == 0">
                            {{rowData[col.field]}}
                        </ng-container>  
                        -->              
                    </td>
                    <td style="text-align: center">
                        <button pButton icon="pi pi-user-plus" (click)="editarColaboradores(rowData)" class="ui-button-edit"></button>
                        <button pButton icon="pi pi-times" (click)="delete(rowData)" class="ui-button-danger"></button>
                        <button pButton icon="pi pi-save" (click)="cerrar(rowData)" class="ui-button-edit"></button>
                    </td>
                </tr>
            </ng-template>
            <!--
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="columns.length + 1">
                        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                            <div class="ui-g-12 ui-md-9">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <b>Fecha despacho:</b> {{rowData.fecha_despacho}}
                                    </div>
                                    <div class="ui-g-12">
                                        <b>fecha salida:</b> {{rowData.fecha_salida}}
                                    </div>
                                    <div class="ui-g-12">
                                        <b>fecha arribo:</b> {{rowData.fecha_arribo}}
                                    </div>
                                    <div class="ui-g-12">
                                        <b>fecha inicio:</b> {{rowData.fecha_inicio}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
            -->
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button pButton icon="fa fa-plus" (click)="nuevaFila()" label="Nuevo"></button>
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</div>
<p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"></p-confirmDialog>