<app-header *ngIf="mostrar"></app-header>
<app-sidebar *ngIf="mostrar" (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section *ngIf="mostrar" class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <router-outlet></router-outlet>
</section>
