<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-panel header="Asistencia" class="ui-g-12 ui-md-12" styleClass="panel-tabla-asistencia">
    <div class="ui-g ui-grid ui-grid-responsive ui-fluid" style="position: relative;">
        <!-- Este espacio es para elegir las brigadas disponibles del usuario logeado -->
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-4">
                <label for="cBrigada">Brigada:</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="listaBrigadasUsuario" [(ngModel)]="brigadaSeleccionada" optionLabel="nombre_brigada" (onChange)="cargarTablaAsistencias()"></p-dropdown>
            </div>            
            <!--
            <div class="ui-g-4">
                <label for="cBrigada">Brigada</label>
            </div>
            <div class="ui-g-8">
                {{brigada.nombre_brigada}} - {{brigada.tipo_brigada.valor}}
            </div>
            -->
        </div>
        <!-- Acá elegimos la fecha para cargar el calendario -->
        <div *ngIf="brigadaSeleccionada != null" class="ui-g-12 ui-md-12">
            <div class="ui-g-4">
                <label for="cMesAño">Mes y Año</label>
            </div>
            <div class="ui-g-8">
                <p-calendar (onSelect)="cargarTablaAsistencias()" [(ngModel)]="fechaSeleccionada" view="month"
                    dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [locale]="es"></p-calendar>
            </div>
        </div>

        <!-- Esta es la tabla del calendario de asistencia de personal -->
        <div *ngIf="fechaSeleccionada != null">
            <ngx-loading [show]="loadingAsistencia" ></ngx-loading>
            <p-table #dt styleClass="tabla-asistencia" selectionMode="none" [columns]="columnasTablaAsistencia" [value]="valAsistencias" [responsive]="true" [paginator]="false" [rows]="50">
                <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix" style="width: 5%;">
                        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="EXCEL" (click)="exportToEXCEL()" style="float:left"></button>
                    </div>
                </ng-template>                
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [ngClass]="{'nombresAsistencia':col.field === 'NOMBRES','diasAsistencia':col.field != 'NOMBRES'}">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" pEditableColumn >
                            <p-cellEditor *ngIf="col.field != 'NOMBRES'" style="text-align: center" >
                                <ng-template pTemplate="input">
                                    <p-dropdown appendTo="body" (onFocus)="seleccionarAnterior(rowData[col.field])" (onChange)="guardarCambioAsistencia(rowData,col.field,rowIndex)" [(ngModel)]="asistenciaSeleccionada" [options]="valoresAsistencia" optionLabel="valor1"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <b><p><font color="{{rowData['color_' + col.field]}}">{{rowData[col.field]}}</font></p></b>
                                </ng-template>
                            </p-cellEditor>
                            <div *ngIf="col.field === 'NOMBRES'">
                                {{rowData[col.field]}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>