.nombresAsistencia{
    width: 20%;
}

.diasAsistencia{
    text-align: center;
    padding: 0px !important;
    width: 7%;
}

.ui-datepicker-monthpicker{
    top: 0px !important;
}

.ui-datepicker{
    top: 0px !important;
}

.ui-table-wrapper{
    overflow-x: scroll;
}

.ui-table table{
    width: 130% !important;
}