<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g-12 ui-md-12">
    <p-panel header="Roles" class="ui-g-12 ui-md-12">
        <p-table #dt selectionMode="none" [columns]="columnasTablaRol" [value]="roles"
            [(selection)]="rolSeleccionado" [responsive]="true" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div style="text-align: center">
                    <input type="text" pInputText size="50" placeholder="Filtro Global"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:90%">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width: 7%;"></th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <div *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </div>
                    </td>
                    <td style="text-align: center">
                        <button pButton icon="pi pi-pencil" (click)="edit(rowData)" class="ui-button-edit"></button>
                        <button pButton icon="pi pi-times" (click)="delete(rowData)" class="ui-button-danger"
                            style="margin-left: 5px;"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button pButton icon="fa fa-plus" (click)="nuevaFila()" label="Nuevo"></button>
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<!-- Esta sección es el POPUP que aparece cuando se está modificando una fila de la tabla -->
<p-dialog header="Detalles Colaborador" [(visible)]="esVisiblePopUp" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '500px'}">
    <form name="colaboradorForm" (ngSubmit)="cForm.form.valid" #cForm="ngForm" novalidate>
        <div class="ui-g ui-fluid" *ngIf="colaborador">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cRUT">RUT</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cRUT" id="cRUT" [(ngModel)]="colaborador.rut" #rut="ngModel" required/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cNombres">Nombres</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cNombres" id="cNombres" [(ngModel)]="colaborador.nombres" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cApellidoP">Apellido Paterno</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cApellidoP" id="cApellidoP" [(ngModel)]="colaborador.apellido_paterno" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cApellidoM">Apellido Materno</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText name="cApellidoM" id="cApellidoM" [(ngModel)]="colaborador.apellido_materno" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cCargo">Cargo</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown name="cCargo" id="cCargo" [options]="catalogoCargos" [(ngModel)]="colaborador.cargo" optionLabel="valor"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar" [disabled]="!cForm.form.valid"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>