<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <div *ngFor="let menu of menus">
            <a *ngIf="!menu.submenus" [routerLink]="menu.link" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                <span>{{ menu.nombre }}</span>
            </a>
            <div *ngIf="menu.submenus" class="nested-menu">
                    <a class="list-group-item" (click)="addExpandClass('pages')">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span> {{ menu.nombre }}</span>
                    </a>
                    <li class="nested" [class.expand]="showMenu === 'pages'">
                            <ul class="submenu">
                                <li>
                                    <a *ngFor="let submenu of menu.submenus" [routerLink]="[submenu.link]" [routerLinkActive]="['router-link-active']">
                                        <i class="fa fa-plus"></i>&nbsp;
                                        <span> {{ submenu.nombre }} </span>
                                    </a>
                                </li>
                            </ul>
                    </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>