<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g-12 ui-md-12" style="position: relative;">
    <ngx-loading [show]="loadingTabla"></ngx-loading>
    <p-panel header="Supervisores" class="ui-g-12 ui-md-12">
        <p-table #dt selectionMode="none" [columns]="columnasTablaColaborador" [value]="colaboradores"
            [(selection)]="colaboradorSeleccionado" [responsive]="true" [paginator]="true" 
            [rows]="10"
            selectionMode="single"
            (onRowSelect)="onRowSelect()" >
            <ng-template pTemplate="caption">
                <div style="text-align: center">
                    <input type="text" pInputText size="50" placeholder="Filtro Global"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:90%">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input pInputText type="text" *ngIf="col.field != 'es_usuario'"
                            (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">
                        <p-checkbox *ngIf="col.field == 'es_usuario'"  boolean="true" (onChange)="dt.filter($event==true ? 1:null, col.field, 'equals')"></p-checkbox>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <div *ngSwitchCase="'cargo'">
                            <div *ngIf="rowData[col.field] != null">
                                {{rowData[col.field].valor}}
                            </div>
                        </div>
                        <div *ngSwitchCase="'es_usuario'">
                            <div>
                                {{rowData[col.field] == 1 ? 'Si' : 'No'}}
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            {{rowData[col.field]}}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<!-- Esta es la sección para asignar las brigadas a los colaboradores (Supervisores) -->
<div class="ui-g-12 ui-md-12" style="height: 500px; position: relative;">
    <ngx-loading [show]="loadingBrigadas" ></ngx-loading>
    <p-panel header="Brigadas por Supervisor" class="ui-g-12 ui-md-12"
        *ngIf="colaboradorSeleccionado && colaboradorSeleccionado.es_usuario == 1">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12" style="text-align: center">
                <h5>Seleccione las Brigadas para el Supervisor:
                    {{ colaboradorSeleccionado.rut }} - {{ colaboradorSeleccionado.nombres}} {{ colaboradorSeleccionado.apellido_paterno}} {{ colaboradorSeleccionado.apellido_materno }}
                </h5>
            </div>
            <p-pickList [source]="brigadaSinAsignar" [target]="brigadaActuales" sourceHeader="Disponibles" targetHeader="Actuales"
                [responsive]="true" filterBy="nombre_brigada" dragdrop="true" sourceFilterPlaceholder="Buscar por nombre"
                targetFilterPlaceholder="Buscar por nombre" [sourceStyle]="{'height':'250px'}"
                [targetStyle]="{'height':'250px'}">
                <ng-template let-brigadas pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <img style="display:inline-block;margin:2px 0 2px 2px" width="48">
                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{brigadas.nombre_brigada}}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-save" (click)="guardarBrigadasPorSupervisor()" label="Guardar Brigadas"></button>
            </div>
        </div>
    </p-panel>
</div>