<form [formGroup]="actividadForm" style="overflow: visible;">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>N° Foco, Incendio, Quema</label>
      </div>
      <div class="ui-g-8">
        <input pInputText formControlName="nro_foco" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Código de actividad</label>
      </div>
      <div class="ui-g-8">
        <!--
        <input pInputText formControlName="codigo_actividad" />
        -->
        <p-dropdown formControlName="codigo_actividad" [options]="catalogoActividades" [(ngModel)]="actividadSeleccionada" optionLabel="labelExtra" [filter]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Centro de costo</label>
      </div>
      <div class="ui-g-8">
        <input pInputText formControlName="centro_costo" />
      </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
          <label>Lugar o destino</label>
        </div>
        <div class="ui-g-8">
          <!--<input pInputText formControlName="lugar_destino" [(ngModel)]="lugarSeleccionado"/>-->
          <p-dropdown formControlName="lugar_destino" [options]="catalogoLugares" [(ngModel)]="lugarSeleccionado" optionLabel="labelExtra" [filter]="true"></p-dropdown>
        </div>
      </div>    
    <div class="ui-g-12">
      <!-- <div class="ui-g-4">
        <label>Fuerza de combate</label>
      </div> -->
      <div class="ui-g-8">
        <input type="hidden" pInputText formControlName="fuerza_combate" />
      </div>
    </div>
    <div class="ui-g-12">
      <!-- <div class="ui-g-4">
        <label>Identificación del recurso</label>
      </div> -->
      <!-- <div class="ui-g-8">
        <p-dropdown  [options]="brigadasSelect" formControlName="id_brigada"></p-dropdown>
      </div> -->
      <div class="ui-g-8">
        <input type="hidden" pInputText formControlName="id_brigada" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar"
        [disabled]="actividadForm.invalid"></button>
    </div>
  </p-footer>
</form>