<!-- <form [formGroup]="colaboradorForm">
        <div class="ui-g ui-fluid" *ngIf="colaboradorM">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>RUT</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="rut"/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Nombres</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="nombres"/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Apellido Paterno</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="apellido_paterno"/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Apellido Materno</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="apellido_materno"/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Cargo</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="brigadasSelect" formControlName="cargo"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="cesUsuario">Es usuario</label>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="cesUsuario" id="cesUsuario" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="colaboradorM.es_usuario">
                <div class="ui-g-4">
                    <label>Contraseña</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" pInputText formControlName="contrasena" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar" [disabled]="!cForm.form.valid"></button>
            </div>
        </p-footer>
</form> -->